* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  position: absolute;
  top: 0;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.5rem;
}

footer {
  position: absolute;
  border-top: 0.25px solid #ccc;
  height: 12%;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

button.secondary-btn {
  background: white;
  color: #2B65EC;
  border: 1px solid #2B65EC;
  border-radius: 9999px;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
}

button.secondary-btn:active {
  background: #1569C7;
  color: white;
}

button.main-btn {
  background: #2B65EC;
  color: white;
  border: 1px solid #2B65EC;
  border-radius: 9999px;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
}

button.main-btn:active {
  background: #1569C7;
  color: white;
  border: 1px solid #1569C7;
}

.main {
  height: 100vh;
  background: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 100ms ease-in-out;
}

.phone-screen {
  height: 675px;
  width: 375px;
  background: white;
  position: relative;
  overflow: hidden;
}

.sidebar {
  background: white;
  height: 100%;
  width: 0%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: width 100ms ease-in-out;
  z-index: 2;
}

.sidebar > h1 {
  padding: 2rem;
}

#burger-btn {
  border: none;
  color: #666;
  font-size: 1.5rem;
}

#nav-menu {
  border: 1px solid #666;
  border-radius: 9999px;
  height: 50%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

#nav-menu button {
  border: none;
  background: transparent;
  color: #666;
  font-size: 1.5rem;
  text-align: center;
  padding: 4px;
}

#nav-menu button:first-child {
  border-right: 1px solid #666;
}

#nav-menu button:last-child {
  border-left: 1px solid #666;
}

#nav-menu button.selected {
  background: #666;
  color: white;
}

#profile-thumb {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
